---
export const prerender = true;

import Main from '../layouts/main.astro';
---

<Main>
  <p class='mt-0 mb-16'>Please take a few moments to answer the following questions.</p>
  <form
    class='kwes-form flex flex-col'
    no-reload
    action='https://kwesforms.com/api/foreign/forms/ei1Xxu2qASmzJXmWY4Rn'
    redirect='/results'
  >
    <h2 class='m-0'>1. Technology</h2>
    <p>Which technologies are you most interested in?</p>
    <fieldset repeater name='unique_name' class='flex flex-col gap-6'>
      <div repeater-group class='flex flex-col gap-6 border border-brand-guide bg-brand-surface p-4'>
        <div class='flex flex-col gap-1'>
          <label for='technology' class='block'>Technology</label>
          <select id='technology' name='technology'>
            <option hidden>Please select</option>
            <option>React</option>
            <option>Qwik</option>
            <option>Astro</option>
            <option>Remix</option>
            <option>Serverless</option>
            <option>Edge</option>
            <option>Postgres</option>
            <option>SQL</option>
            <option>CSS</option>
            <option>SVG</option>
          </select>
        </div>
      </div>
    </fieldset>
    <hr />
    <h2 class='m-0'>2. Experience</h2>
    <p>How many years experience do you have?</p>
    <div class='border border-brand-guide bg-brand-surface p-4'>
      <fieldset data-kw-group rules='required' class='flex items-center gap-6'>
        <div class='flex gap-2 items-center'>
          <input type='radio' id='novice' name='experience' value='1-5' />
          <label for='novice'>1-5</label>
        </div>
        <div class='flex gap-2 items-center'>
          <input type='radio' id='intermediate' name='experience' value='5-10' />
          <label for='intermediate'>5-10</label>
        </div>
        <div class='flex gap-2 items-center'>
          <input type='radio' id='proficient' name='experience' value='10-20' />
          <label for='proficient'>10-20</label>
        </div>
        <div class='flex gap-2 items-center'>
          <input type='radio' id='expert' name='experience' value='20+' />
          <label for='expert'>20+</label>
        </div>
      </fieldset>
    </div>
    <hr />
    <h2 class='m-0'>3. Time</h2>
    <p>When do you prefer to read technical content?</p>
    <div class='border border-brand-guide bg-brand-surface p-4'>
      <div class='flex flex-col gap-1'>
        <label for='time' class='block'>Time</label>
        <select id='time' name='time'>
          <option hidden>Please select</option>
          <option>🌞 Daytime</option>
          <option>🌚 Nighttime</option>
          <option>🌓 Anytime</option>
        </select>
      </div>
    </div>
    <hr />
    <button
      type='submit'
      class='border-2 border-brand-salmon text-brand-salmon font-bold rounded-full text-lg min-h-12 px-4 text-center'
      >Submit</button
    >
  </form>
</Main>
