---
import Main from '../layouts/main.astro';

const response = await fetch('https://kwes.io/api/v1/forms/5689/submissions', {
  method: 'GET',
  headers: {
    Accept: 'application/json',
    'Content-Type': 'application/json',
    Authorization: 'Bearer gwEvpqTVnGDA4s5vOHeIAcOxSO566jXZ5EPjfFjWWuXThX61CHlg5I8J4Wwt',
  },
  redirect: 'follow',
});

const data = await response.json();
---

<Main>
  <h1>Skills</h1>
  <form
    class='kwes-form flex flex-col gap-6'
    no-reload
    action='https://kwesforms.com/api/foreign/forms/XRrkzNJYBCCtapiFhR3g'
  >
    <div class='flex flex-col'>
      <label for='name' class='block'>Your Name</label>
      <input type='text' id='name' name='name' rules='required|max:255' autocomplete='off' />
    </div>
    <fieldset repeater name='unique_name' class='border border-zinc-300 p-4'>
      <div repeater-group class='flex flex-col gap-6'>
        <div class='flex flex-col'>
          <label for='language' class='block'>Language or Technology</label>
          <input type='text' id='language' name='language' rules='required|max:255' autocomplete='off' />
        </div>
        <fieldset data-kw-group rules='required' class='flex items-center gap-6 mb-6'>
          <div>
            <input type='checkbox' id='novice' name='skill-level' value='Novice' />
            <label for='novice'>Novice</label>
          </div>
          <div>
            <input type='checkbox' id='intermediate' name='skill-level' value='Intermediate' />
            <label for='intermediate'>Intermediate</label>
          </div>
          <div>
            <input type='checkbox' id='proficient' name='skill-level' value='Proficient' />
            <label for='proficient'>Proficient</label>
          </div>
          <div>
            <input type='checkbox' id='expert' name='skill-level' value='Expert' />
            <label for='expert'>Expert</label>
          </div>
        </fieldset>
      </div>
    </fieldset>
    <button type='submit' class='bg-green-500 text-white font-medium rounded px-4 text-center'>Submit</button>
  </form>
  <pre>{JSON.stringify(data, null, 2)}</pre>
</Main>
