---
import Main from '../layouts/main.astro';
import { GroupByTime } from '../utils/group-by-time';
import { GroupByExperience } from '../utils/group-by-experience';

const response = await fetch('https://kwes.io/api/v1/forms/5689/submissions?mode=production', {
  method: 'GET',
  headers: {
    Accept: 'application/json',
    'Content-Type': 'application/json',
    Authorization: 'Bearer gwEvpqTVnGDA4s5vOHeIAcOxSO566jXZ5EPjfFjWWuXThX61CHlg5I8J4Wwt',
  },
  redirect: 'follow',
});

const data = await response.json();

const byTime = GroupByTime(data);
const byExperience = GroupByExperience(data);
---

<Main>
  <p class='mt-0 mb-16'>Results of the survey so far.</p>
  <h2>Time</h2>
  <pre>{JSON.stringify(byTime, null, 2)}</pre>
  <h2>Experience</h2>
  <pre>{JSON.stringify(byExperience, null, 2)}</pre>
</Main>
